@model MenuDataModel
@{
    ViewData["Title"] = "Menu";
}
<div class="row sticky-top bg-white">
    @foreach (var tag in Model.Tags)
    {
        <div class="col-2 mt-3 mb-3">
            <a class="nav-link btn btn-light" asp-controller="Menu" asp-action="Index" asp-route-tag="@tag.Name">@tag.Name</a>
        </div>
    }
</div>
<div class="row ms-3">
    @for (int i = 0; i < 7; i++)
    {
        @foreach (var dish in Model.Dishes)
        {
            <a asp-controller="Menu" asp-action="Details" asp-route-dishId="@dish.Id" class="col-3 text-decoration-none text-black">
                <div class="col-3 m-2 justify-content-center" style="width:200px;height:400px">
                    <img class="rounded-3" src="@dish.ImageURL" style="width:200px;height:300px" />
                    <h3 class="text-center mt-2">@dish.Name</h3>
                    <p class="d-flex text-decoration-underline justify-content-center">Price: @dish.Price.ToString("N2")$</p>
                </div>
            </a>
        }
    }
</div>
